# Import the libraries

In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import country_converter as coco
import matplotlib
import os
import folium
import json

# Import the data

In [17]:
# path to string
path = r'/Users/puchater/Documents/CareerFoundry/Data Immersion/6 Final Project/2 Data'

In [18]:
happy = pd.read_pickle(os.path.join(path, 'Prepared Data', 'happy_clean_data.pkl'))

In [19]:
# Import ".json" file for the world 

country_geo = r'/Users/puchater/Documents/CareerFoundry/Data Immersion/6 Final Project/2 Data/Original Data/countries.geojson'

In [20]:
# That's just in case you want to look at the JSON file contents here too:

f = open(r'/Users/puchater/Documents/CareerFoundry/Data Immersion/6 Final Project/2 Data/Original Data/countries.geojson',)
  
# returns JSON object asa dictionary
data = json.load(f)
  
'''
# Iterating through the json list
for i in data['features']:
    print(i)
'''

"\n# Iterating through the json list\nfor i in data['features']:\n    print(i)\n"

In [21]:
happy.head()

,Country,Year,Happiness score,GDP,Social support,Life expectancy,Freedom,Generosity,Corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919

In [22]:
# This command propts matplotlib visuals to appear in the notebook 

# %matplotlib inline

# Data wrangling

In [24]:
happy['Country'].value_counts(dropna = False)

Zimbabwe        17
Costa Rica      17
Cameroon        17
Canada          17
Chile           17
                ..
Belize           2
Saudi Arabia     2
Guyana           1
Suriname         1
Qatar            1
Name: Country, Length: 156, dtype: int64

In [25]:
standard_names = coco.convert(happy['Country'], to='ISO3')
happy['Country'] = coco.convert(happy['Country'], to='ISO3')

In [26]:
#print(standard_names)

In [27]:
#happy.head()

In [28]:
# matching_dict = coco.match(happy['Country name'],country_geo['ADMIN'] )
#happy_json = pd.read_json(r'/Users/puchater/Documents/CareerFoundry/Data Immersion/6 Final Project/2 Data/Original Data/countries.geojson')

In [29]:
#happy_json = pd.json_normalize(happy_json["features"])
#happy_json

In [30]:
#print(country_geo)

# Data subsetting

In [32]:
happy.loc[happy['Year']<2015,'corona_flag'] = 'pre-anlysis'

In [34]:
happy.loc[(happy['Year']>=2015)& (happy['Year']<2019),'corona_flag'] = 'pre-corona'

In [35]:
happy.loc[happy['Year']>2019,'corona_flag'] = 'corona'

In [36]:
happy_pre_corona =  happy[happy['corona_flag']=='pre-corona']

In [37]:
happy_corona =  happy[happy['corona_flag']=='corona']

# Drawing the map

In [38]:
# Create a data frame with just the states and the values for rating we want plotted

data_to_plot_pre_corona = happy_pre_corona[['Country','Happiness score']]
data_to_plot_pre_corona.head()

   Country  Happiness score
7      AFG         3.982855
8      AFG         4.220169
9      AFG         2.661718
10     AFG         2.694303
21     ALB         4.606651

In [ ]:
# Setup a folium map at a high-level zoom
map = folium.Map(location = [100, 0], zoom_start = 1.5)

# Choropleth maps bind Pandas Data Frames and json geometries.This allows us to quickly visualize data combinations
folium.Choropleth(
    geo_data = country_geo, 
    data = data_to_plot_pre_corona,
    columns = ['Country', 'Happiness score'],
    key_on = 'feature.properties.ISO_A3', # this part is very important - check your json file to see where the KEY is located
    fill_color = 'YlOrBr', fill_opacity=0.6, line_opacity=0.1,
    legend_name = "rating").add_to(map)
folium.LayerControl().add_to(map)

map

In [ ]:
map.save('plot_data_pre_corona.html')

In [ ]:
# Create a data frame with just the states and the values for rating we want plotted

data_to_plot_corona = happy_corona[['Country','Happiness score']]
data_to_plot_corona.head()

In [ ]:
# Setup a folium map at a high-level zoom
map = folium.Map(location = [100, 0], zoom_start = 1.5)

# Choropleth maps bind Pandas Data Frames and json geometries.This allows us to quickly visualize data combinations
folium.Choropleth(
    geo_data = country_geo, 
    data = data_to_plot_corona,
    columns = ['Country', 'Happiness score'],
    key_on = 'feature.properties.ISO_A3', # this part is very important - check your json file to see where the KEY is located
    fill_color = 'YlOrBr', fill_opacity=0.6, line_opacity=0.1,
    legend_name = "rating").add_to(map)
folium.LayerControl().add_to(map)

map

In [ ]:
map.save('plot_data_corona.html')

In [ ]:
# Discuss the results and what they mean in a markdown section.
# Does the analysis answer any of your existing research questions?
# The analysis shows the happiest countries pre and during COVID 19 pandemic
# Does the analysis lead you to any new research questions?
# not yet.